@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;1,300&display=swap");

* {
  font-family: "Lato", sans-serif;
}

.navbar {
}

.header {
  .block {
    background-color: rgba(0, 0, 0, 0.411);
  }
}

.book {
  #book {
    position: absolute;
    right: 10px;
  }

  .booking-form:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
  }
}
.packages {
  #price,
  #price1 {
    display: flex;
  }

  .card:hover {
    background-color: rgba(0, 0, 0, 0.75);
    color: white;
  }
}
.services {
  .icons {
    font-size: 80px;
  }

  .card {
    margin-top: 10px;
    height: 18rem;
  }
  .card:hover {
    border: 1px solid black;
  }
}

.gallery {
}
.gallery:hover {
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
}
.review {
}
.contact {
}
.end {
  background-color: black;
  color: white;

  h5 {
    color: rgb(255, 174, 0);
  }
  ul {
    list-style: none;
    a {
      text-decoration: none;
      color: white;
    }
  }

  .bottom {
    text-align: center;
  }
}

@media screen and (max-width: 576px) {
  .end {
    font-size: 12px;
    ul {
      li {
        display: inline-block;
        a {
          margin: 2px;
        }
      }
    }
  }
}
